<p class="fixed-button">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Chatbot</button>
</p>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Chatbot</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body overflow-y-auto">
        <!-- inicio chat -->
        <div class="card-body overflow-y-auto" style="max-height: 90%;" #messageContainer>

            <div class="d-flex justify-content-start">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                alt="avatar 1" style="width: 45px; height: 45px;">
                <div>
                    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Hola</p>
                </div>
            </div>

            <div *ngFor="let message of messages">
                <div *ngIf="message.type === 'bot'">
                    <div class="d-flex justify-content-start">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp" alt="avatar 1" style="width: 45px; height: 45px;">
                        <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">{{ message.text }}</p>
                    </div>
                </div>
                <div *ngIf="message.type === 'user'">
                    <div class="d-flex justify-content-end">
                        <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #dee7f0;">{{ message.text }}</p>
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp" alt="avatar 1" style="width: 45px; height: 45px;">
                    </div>
                </div>
            </div>

        </div>
        <!-- input texto -->
        <div class="position-absolute bottom-0 text-muted d-flex p-3">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                alt="avatar 3" style="width: 40px; height: 40px;">
                <input type="text" class="form-control form-control-lg" [(ngModel)]="messageText" placeholder="Mensaje" (keydown.enter)="sendMessage()">
                <button class="btn btn-primary" (click)="sendMessage()" [disabled]="waitingForResponse">Enviar</button>
        </div>
        <!-- fin input texto -->
        <!-- fin del chat -->
    </div>
</div>
