<div id="bordeCarta" style="background:rgba(17,18,18,1); color:white; border:1px solid rgba(255,244,0,1);" id="bordeCarta" class="carta2 2xl:w-[250px] 2xl:h-[415px] md:w-[200px] md:h-[285px]" data-tilt data-tilt-max="10" data-tilt-speed="400" data-tilt-perspective="1000">
  <!-- Bordeado Exotico Carta -->
  <!-- Imagen Superior -->
  <div class="titulo">
    <p class="2xl:text-[18px] md:text-[14px]">carta.nombre_carta</p>
  </div>
  <div class="img">
    <a>
      <img src="../../../../assets/images/carta.png" alt="" class="2xl:h-[250px] md:sm:h-[150px]">
    <div class="overlay"></div>
    </a>
  </div>

  <div class="contenido 2xl:w-[220px] 2xl:h-[75px] md:sm:w-[165px] md:sm:h-[50px]">
    <div class="2xl:text-[16px] md:text-[11px]">
      <p class="">Poder:  </p>
      <p class="">Vida:   </p>
      <p class="">Defensa:   </p>
    </div>
    <div class="2xl:text-[16px] md:text-[11px]">
      <p class="">Ataque: </p>
      <p class="">Dano: </p>
    </div>
  </div>

</div>
