.carta2{
  margin: 3.5%;
  padding: 15px;
  border-radius: 10px;
}


.carta2 .titulo{
  font-weight: bold;
  padding:5px;
  background:rgba(57,57,15,1);
  opacity:1;
  border:1px solid rgba(255,244,0,1);
  border-radius:5px;
  margin-bottom:10px;
  text-align: center;
}

.carta2 img{
  border:1px solid rgba(255,244,0,1);
  border-radius:5px;
  display: block;
}

.img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:10px;
}

.carta2:hover img{
  filter: brightness(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}


.contenido{
  border:1px solid rgba(255,244,0,1);
  border-radius:5px;
  background:rgba(57,57,15,1);
  padding: 10px;
}
