<div id="bordeCarta" style="background:rgba(17,18,18,1); color:white; border:1px solid rgba(255,244,0,1);" id="bordeCarta" class="carta2 m-7 w-[625px] h-[315px]" data-tilt data-tilt-max="10" data-tilt-speed="400" data-tilt-perspective="1000">
  <div class="flex items-start justify-around">
  <div class="img">
    <a>
      <img src="../../../../assets/images/carta.png" alt="" class="h-[275px]">
    <div class="overlay"></div>
    </a>
  </div>

  <div class="space-y-3">
    <div class="titulo">
      <p class="text-[20px] font-bold">Guerrero Radiante</p>
    </div>

    <div class="contenido w-[285px] h-[175px] ">
      <div class="text-[13px] space-y-5 truncate">
        <p class="">Poder: </p>
        <p class="">Vida: </p>
        <p class="">Defensa: </p>
        <p class="">Ataque: </p>
        <p class="">Dano: </p>
      </div>
    </div>
    <div class="space-y-3">
      <p class="text-[18px]">Precio: $20.000 </p>
      <p class="text-[14px]">Cantidad: 15</p>
    </div>
  </div>
</div>
</div>
