<main class="contenedor">
  <img src="logoPartidas.png" alt="logo the nexus battles">
  <div class="contenedor__tabla">

      <div class="tabla__contenedor flex flex-col justify-center ">
          <h1 class="tabla__contenedor__titulo mt-28">Administar Usuarios</h1>
          <div class="tabla__contenedor__padre flex-col items-center justify-center">

              <div class="tabla w-max">

                  <div class="fila encabezado">

                    <div class="columna nombreP">Nombre Completo</div>
                    <div class="columna ">Usuario</div>
                    <div class="columna ">Contraseña</div>
                    <div class="columna ">Estado</div>
                  </div>

                  <!-- ngFor desde aca -->
                  <div class="fila">
                    <div class="columna nombreP">Pepito Perez </div>
                    <div class="columna ">Pepe21</div>
                    <div class="columna ">1234</div>
                    <div class="columna "><button>Activo</button></div>
                  </div>
                  <div class="fila">
                    <div class="columna nombreP">Lola Gonzalez</div>
                    <div class="columna ">Lola12</div>
                    <div class="columna ">Lorito13</div>
                    <div class="columna "><button>No Activo</button></div>
                  </div>
                  <div class="fila">
                    <div class="columna nombreP">Lola Gonzalez</div>
                    <div class="columna ">Lola12</div>
                    <div class="columna ">Lorito13</div>
                    <div class="columna "><button>No Activo</button></div>
                  </div>


                </div>

                <div class="btn__actualizar mt-6">
                  <button >Actualizar Usuarios</button>
                </div>
          </div>



      </div>
  </div>

</main>
