<main id="contenedor-vitrina" class="relative bg-center">

  <div *ngFor="let item of inventario">
    <div>
      <img [src]="item.carta.urlImagen" alt="{{ item.carta.nombre_carta }}" />
      <h2>{{ item.carta.nombre_carta }}</h2>
      <!-- Mostrar otros detalles de la carta aquí -->
    </div>
  </div>

</main>





<!-- <div *ngFor="let item of inventario"> -->
    <!-- <div *ngIf="item && item.carta"> Verifica que item.carta no sea nulo antes de mostrar los detalles -->
        <!-- <p>Id: {{ item.id_carta }}</p> -->
        <!-- <p>Imagen: {{ item.carta.urlImagen }}</p>
        <p>Nombre: {{ item.carta.nombre_carta }}</p>
        <p>Precio: {{ item.carta.price }}</p>
    </div>
</div> -->
