

<main id="contenedor-vitrina" class="relative bg-center">

  <div class="caja-inv 2xl:my-16 md:sm:my-0">


    <div class="profile-header text-center">

      <img class="profile-image ml-[46%]" src="../../../assets/images/avatar-2-hombre_1.png" alt="Imagen de perfil">
      <h1 class="nameperfil">Nombre de Usuario</h1>

    </div>

  <div class="profile-container 2xl:max-w-[1575px] md:sm:max-w-[1375px]">
    <div class="left-box text-black hover:text-white">

      <div class="carousel 2xl:max-w-[1325px] md:sm:max-w-[1125px]">
        <h3 class="Tuscartas">Tus cartas</h3>
        <div class="flex">

          <button class="">
            <mat-icon class="ml-[30px] mr-[20px]" aria-hidden="false" aria-label="Flecha Izquierda" svgIcon="flecha_izquierda">Flecha_Izquierda</mat-icon>
          </button>

          <div class="carousel-inner space-x-4">
            <card-inventario></card-inventario>
            <card-inventario></card-inventario>
            <card-inventario></card-inventario>
            <card-inventario></card-inventario>
          </div>
          <button class="">
            <mat-icon class="ml-[30px] mr-[30px]" aria-hidden="false" aria-label="Flecha Derecha" svgIcon="flecha_derecha">Flecha_Derecha</mat-icon>
          </button>

        </div>

          </div>
        </div>
      </div>

    </div>





</main>





<!-- <div *ngFor="let item of inventario"> -->
    <!-- <div *ngIf="item && item.carta"> Verifica que item.carta no sea nulo antes de mostrar los detalles -->
        <!-- <p>Id: {{ item.id_carta }}</p> -->
        <!-- <p>Imagen: {{ item.carta.urlImagen }}</p>
        <p>Nombre: {{ item.carta.nombre_carta }}</p>
        <p>Precio: {{ item.carta.price }}</p>
    </div>
</div> -->
