
<main id="contenedor-vitrina" class="relative bg-center">
  <div  class="caja-inv my-16">
    <div class="profile-header text-center flex flex-col items-center justify-center">
    </div>

    <div *ngIf="inventario.length < 4; else pagination" class="profile-container">
      <div class="left-box">
        <div class="carousel">
          <h3 class="Tuscartas text-black">Tus cartas</h3>
          <div class="flex">
            <div class="carousel-inner pl-[30px]">
              <div *ngFor="let item of inventario">
                <div *ngIf="item && item.carta" id="bordeCarta" style="background:rgba(17,18,18,1); color:white; border:1px solid rgba(255,244,0,1);" id="bordeCarta" class="carta2 2xl:w-[250px] 2xl:h-[415px] md:w-[200px] md:h-[285px] hover:2xl:h-[435px] hover:md:h-[315px]">
                  <!-- Bordeado Exotico Carta -->
                  <!-- Imagen Superior -->
                  <div class="titulo">
                    <p class="2xl:text-[18px] md:text-[14px] truncate">{{ item.carta.nombre_carta }}</p>
                  </div>
                  <div class="img">
                    <a>
                      <img src="{{ carta.urlImagen }}" alt="" class="2xl:h-[250px] md:sm:h-[150px]">
                    <div class="overlay"></div>
                    </a>
                  </div>
                  <div class="contenido 2xl:w-[220px] 2xl:h-[75px] md:sm:w-[165px] md:sm:h-[50px]">
                    <div class="2xl:text-[16px] md:text-[11px] text-ellipsis overflow-hidden">
                      <p *ngIf="carta.nombre_carta === 'Armadura Pesada'">Tipo: Pesada</p>
                      <p *ngIf="carta.nombre_carta === 'Armadura Mediana'">Tipo: Media</p>
                      <p *ngIf="carta.nombre_carta === 'Armadura de Tela'">Tipo: Tela</p>
                      <p *ngIf="carta.nombre_carta === 'Armadura Media Liviana'">Tipo: Media liviana</p>
                      <p *ngIf="carta.coleccion === 'Armaduras'">{{ carta.desc }}</p>
                      <p *ngIf="carta.coleccion === 'Armas'">{{ carta.desc }}</p>
                      <p *ngIf="carta.coleccion === 'Items'">{{ carta.desc }}</p>
                      <p *ngIf="carta.coleccion === 'Heroes'">Poder: {{ carta.poder }}</p>
                      <p *ngIf="carta.coleccion === 'Heroes'">Vida: {{ carta.vida }}</p>
                      <p *ngIf="carta.coleccion === 'Heroes'">Defensa: {{ carta.defensa }}</p>
                    </div>
                    <div class="2xl:text-[16px] md:text-[11px]">
                      <p *ngIf="carta.coleccion === 'Heroes'">Ataque: {{ carta.ataqueBase }}</p>
                      <p *ngIf="carta.coleccion === 'Heroes'">Dano: {{ carta.danoMax }}</p>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<ng-template #pagination>
  <div class="profile-container">
    <div class="left-box">
      <div class="carousel">
        <h3 class="Tuscartas text-black">Tus cartas</h3>
        <div class="flex">
          <button (click)="prevImage()">
            <mat-icon
              class="w-6 h-6"
              aria-hidden="false"
              aria-label="Flecha Izquierda"
              svgIcon="flecha_izquierda"
              >Flecha_Izquierda</mat-icon
            >
          </button>
          <div class="carousel-inner pl-[30px]">
            <div *ngFor="let item of inventario">
              <div *ngIf="item && item.carta" id="bordeCarta" style="background:rgba(17,18,18,1); color:white; border:1px solid rgba(255,244,0,1);" id="bordeCarta" class="carta2 2xl:w-[250px] 2xl:h-[415px] md:w-[200px] md:h-[285px]">
                <!-- Bordeado Exotico Carta -->
                <!-- Imagen Superior -->
                <div class="titulo">
                  <p class="2xl:text-[18px] md:text-[14px]">{{ item.carta.nombre_carta }}</p>
                </div>
                <div class="img">
                  <a>
                    <img src="{{ carta.urlImagen }}" alt="" class="2xl:h-[250px] md:sm:h-[150px]">
                  <div class="overlay"></div>
                  </a>
                </div>
                <div class="contenido 2xl:w-[220px] 2xl:h-[75px] md:sm:w-[165px] md:sm:h-[50px]">
                  <div class="2xl:text-[16px] md:text-[11px]">
                    <p *ngIf="item.carta.nombre_carta === 'Armadura Pesada'">Tipo: Pesada</p>
                    <p *ngIf="item.carta.nombre_carta === 'Armadura Mediana'">Tipo: Media</p>
                    <p *ngIf="item.carta.nombre_carta === 'Armadura de Tela'">Tipo: Tela</p>
                    <p *ngIf="item.carta.nombre_carta === 'Armadura Media Liviana'">Tipo: Media liviana</p>
                    <p *ngIf="item.carta.vida >= 3">Poder: {{ item.carta.poder }}</p>
                    <p *ngIf="item.carta.vida >= 3">Vida: {{ item.carta.vida }}</p>
                    <p *ngIf="item.carta.vida >= 3">Defensa: {{ item.carta.defensa }}</p>
                  </div>
                  <div class="2xl:text-[16px] md:text-[11px]">
                    <p *ngIf="item.carta.vida >= 3">Ataque: {{ item.carta.ataqueBase }}</p>
                    <p *ngIf="item.carta.vida >= 3">Dano: {{ item.carta.danoMax }}</p>
                  </div>
                </div>
                <br>
              </div>
            </div>
          </div>
          <button (click)="nextImage()">
            <mat-icon
              class="mr-[30px]"
              aria-hidden="false"
              aria-label="Flecha Derecha"
              svgIcon="flecha_derecha"
              >Flecha_Derecha</mat-icon
            >
          </button>
        </div>
      </div>
    </div>
  </div>

</ng-template>




<!-- <div *ngFor="let item of inventario"> -->
    <!-- <div *ngIf="item && item.carta"> Verifica que item.carta no sea nulo antes de mostrar los detalles -->
        <!-- <p>Id: {{ item.id_carta }}</p> -->
        <!-- <p>Imagen: {{ item.carta.urlImagen }}</p>
        <p>Nombre: {{ item.carta.nombre_carta }}</p>
        <p>Precio: {{ item.carta.price }}</p>
    </div>
</div> -->
