<main>
    <div class="padre">
        <div class="hijo1">
            <div class="img">
                <img src="../../../../assets/images/carta.png" alt="" class="2xl:h-[450px] md:sm:h-[150px]">
            </div>
            <div class="informacion">
                <h1>{{carta.nombre_carta}}</h1>
                <br>
                <p>{{carta.poder}}</p>
                <p>{{carta.price}}</p>
            </div>
        </div>
        <br>
        <div class="hijo2">
            <p>COMENTARIOS</p> 
        </div>
    </div>
</main>