<main id="detalles">

<div class="container">
  <div class="contenedor-izquierdo contenedor-superior">
      <div class="carta rectangulo" id="cartaContainer">
          <div class="carta-interna flex items-center justify-center" id="cartaNombre">
            <div id="bordeCarta" style="background:rgba(17,18,18,1); color:white; border:1px solid rgba(255,244,0,1);" id="bordeCarta" class="carta2 flex items-center justify-center group/carta 2xl:w-[350px] 2xl:h-[480px]"
            data-tilt data-tilt-max="10" data-tilt-speed="400" data-tilt-perspective="1000">
              <!-- Bordeado Exotico Carta -->
              <!-- Imagen Superior -->
              <div class="img">
                <a [routerLink]="['/carta', carta._id]">
                  <img src="https://cards.thenexusbattles2.cloud/assets/{{ carta.imagen }}" alt="" class="h-[440px] w-[250px] mt-2">
                <div class="overlay"></div>
                </a>
                <!-- Indicador del Descuento -->
                <!-- <mat-icon class="absolute top-[1.5%] right-[12.5%]" id="Indicador_Desc" aria-hidden="false" aria-label="Indicador Descuento" svgIcon="indicador_disc">Indicador Descuento</mat-icon> -->
              </div>

            </div>

          </div>

      </div>

      <div class="comentarios rectangulo" id="comentariosContainer">

          <h2>Comentarios</h2>
          <div id="nuevoComentario">
              <input type="text" id="nuevoComentarioTexto" placeholder="Escribe tu comentario"> <br>
              <button id="enviarComentario">Enviar</button>
          </div> <br>
          <div *ngFor="let comment of comments" class="comentario" id="comentario2">
              <!-- <p>{{ comment.comentariosUserName }}</p> -->
              <div class="contenido-comentario" id="comentarioContenido2">
                  <p>{{ comment.comentariosTexto }}</p>
              </div>
          </div>
      </div>
  </div>
  <div class="contenedor-derecho contenedor-superior">
      <div class="descripcion rectangulo" id="descripcionContainer">
          <h2>{{carta.nombre}}</h2>
          <div class="descripcion-contenedor">
              <div class="descripcion-interna">
                  <ul>
                      <li *ngIf="carta.coleccion === 'Heroes'">
                        <img src="../../../../../assets/images/empoderamiento.png" alt="">
                        <p>Poder: {{carta.poder}}</p>
                      </li>
                      <li *ngIf="carta.coleccion === 'Heroes'">
                        <img src="../../../../../assets/images/me-gusta.png" alt="">
                        <p>Vida: {{carta.vida}}</p>
                      </li>
                      <li *ngIf="carta.coleccion === 'Heroes'">
                        <img src="../../../../../assets/images/proteger.png" alt="">
                        <p>Defensa: {{carta.defensa}}</p>
                      </li>
                      <li *ngIf="carta.coleccion === 'Heroes'">
                        <img src="../../../../../assets/images/espadas.png" alt="">
                        <p>Ataque: {{carta.ataqueBase}}</p>
                      </li>
                      <li *ngIf="carta.coleccion === 'Heroes'">
                        <img src="../../../../../assets/images/daga.png" alt="">
                        <p>Daño: {{carta.dano}}</p>
                      </li>
                      <li *ngIf="carta.coleccion === 'Armas' || carta.coleccion === 'Armaduras' || carta.coleccion === 'Items' || carta.coleccion === 'Epicas'">
                        <img src="../../../../../assets/images/boton-de-informacion.png" alt="">
                        <p>Descripcion: {{carta.descripcion}}</p>
                      </li>
                      <li>
                        <img src="../../../../../assets/images/descuento.png" alt="">
                        <p *ngIf="carta.descuento">Descuento: {{ carta.descuento}}%</p>
                        <p *ngIf="!carta.descuento">Descuento: No aplica</p>
                      </li>
                      <li>
                        <img src="../../../../../assets/images/dolar.png" alt="">
                        <p>Precio: {{carta.precio}}</p>
                      </li>
                  </ul>
              </div>
              <div class="estrella w-max items-center" id="calificacion">
                  <i class="fi fi-rs-star"></i>
                  <div class="flex items-start -space-x-4 -m-3">
                    <p class="text-[25px]">★</p>
                    <p id="calificacionValor" >4.5</p>
                  </div>
              </div>

          </div>
      </div>

      <div class="calificacion rectangulo">
          <h2>Tu calificación</h2>
          <form>
              <p class="clasificacion flex">
                <input id="radio1" type="radio" name="estrellas" value="5"><!--
                --><label for="radio1">★</label><!--

                --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                --><label for="radio2">★</label><!--

                --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                --><label for="radio3">★</label><!--

                --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                --><label for="radio4">★</label><!--

                --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                --><label for="radio5">★</label>
              </p>
            </form>
      </div>
  </div>

</div>
</main>
