
<button id="boton_menu_nav" data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="absolute top-4 left-0 z-40 lg:hidden items-center p-2 mt-2 ml-3 text-sm text-white rounded-lg  focus:outline-none focus:ring-2 focus:ring-gray-200 ">
  <span class="sr-only">Open sidebar</span>
  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
     <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
  </svg>
</button>

<aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full 3xl:2xl:xl:lg:md:sm:translate-x-0" aria-label="Sidenav">
 <div id="fondo_menu" class="overflow-y-auto py-5 px-3 h-full  border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700">
     <ul class="space-y-2">
         <li>
             <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-slate-200 group">
                 <svg aria-hidden="true" class="w-6 h-6 text-amber-800 transition duration-75 group-hover:text-amber-800" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
                 <span class="ml-3 text-amber-800">Jugar Online</span>
             </a>
         </li>
         <li>
             <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-slate-200 group">
                 <svg aria-hidden="true" class="w-6 h-6 text-amber-800 transition duration-75 group-hover:text-amber-800" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
                 <span class="ml-3 text-amber-800">Mi Banco</span>
             </a>
         </li>
         <li>
             <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-slate-200 group">
                 <svg aria-hidden="true" class="w-6 h-6 text-amber-800 transition duration-75 group-hover:text-amber-800" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
                 <span class="ml-3 text-amber-800">Overview</span>
             </a>
         </li>
         <li>
             <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-slate-200 group">
                 <svg aria-hidden="true" class="w-6 h-6 text-amber-800 transition duration-75 group-hover:text-amber-800" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
                 <span class="ml-3 text-amber-800">Torneo</span>
             </a>
         </li>
         <li>
             <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-slate-200 group">
                 <svg aria-hidden="true" class="w-6 h-6 text-amber-800 transition duration-75 group-hover:text-amber-800" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
                 <span class="ml-3 text-amber-800">Subasta</span>
             </a>
         </li>
         <li>
             <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-slate-200 group">
                 <svg aria-hidden="true" class="w-6 h-6 text-amber-800 transition duration-75 group-hover:text-amber-800" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
                 <span class="ml-3 text-amber-800">Mi Cuenta</span>
             </a>
         </li>

     </ul>
 </div>

</aside>

<header id="header" class="flex justify-between">



  <nav id="nav" class=" border-gray-200 px-4 lg:px-6 py-3">

    <!-- Enlances del menu -->


      <div class="lg:flex lg:flex-wrap lg:justify-between lg:items-center md:hidden sms:hidden">

        <a href="#" class="flex ml-1">Jugar Online</a>
        <a href="#" class="flex">Mi Banco</a>
        <a href="#" class="flex">Torneos</a>
        <a href="#" class="flex">Subasta</a>
        <a href="/login" class="flex">Mi Cuenta</a>

      </div>



  </nav>

  <div id="logoNexusBattle" class="absolute lg-top-20 sms:-top-5 3xl:left-1/2 2xl:left-[47%] lg:left-[50.5%] md:left-[42%] sms:left-[15%] lg:w-[8%] lg:h-[9%]  sms:w-[16%] sms:h-[17%]">
    <img src="../../../../assets/images/logoNexus.png" class="" alt="Nexus Battle II Logo"/>
  </div>

  <nav id="nav" >

    <div class="flex flex-wrap items-center">

      <ng-container *ngIf="usuarioHaIniciadoSesion">
        <h1 class="" style="color: white; padding-right: 20px;">{{ nombreUsuario }}</h1>
      </ng-container>
      <!-- Barra Navegacion -->
      <form action="#" method="GET" class="block">
        <!-- Conteneder de busqueda -->

            <div class="relative xl:w-96 sms:w-36">
              <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <!-- Icono Busqueda -->
                <svg class="w-5 h-5" fill="white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
              </div>
              <input type="text" id="topbar-search" class="border border-separate text-white sm:text-lg block w-full pl-10 p-2.5
              border-white placeholder-white focus:outline-none focus:border-[#] focus:ring-1" placeholder="Search">
            </div>

      </form>

      <div class="carritocompras">
        <!-- Icono Carrito -->
          <a href="/cart">
            <button type="button" data-dropdown-toggle="notification-dropdown" id="carrito-boton" class="flex flex-wrap items-center py-2.5 pr-3.5 pl-5">
              <mat-icon class="icono-carrito" aria-hidden="false" aria-label="Carrito Compras" svgIcon="carrito" style="width: 30px; height: 30px">Carrito</mat-icon>
              <p class="text-white px-2.5">Carrito</p>
            </button>
          </a>
      </div>
      <div class="menu-vertical">
        <div style="display: flex;">
          <p style="margin-left: 10px;">Carta</p>
          <p style="margin-left: 10px;">UND</p>
          <p style="margin-left: 10px;">Precio</p>
        </div>
        <div *ngFor="let carta of cartas" style="display: flex;">
          <img src="https://overplay.com.br/wp-content/uploads/2022/03/overplay-elden-armadura.jpg" alt="" style="height: 50px;">
          <p style="margin-left: 10px;">{{ carta.quantity }}</p>
          <p style="margin-left: 10px;">${{ carta.price }}</p>
        </div>
      </div>
      <div style="margin-left: 10px;">

      </div>

    </div>

    </nav>

</header>



