<header id="header" class="flex justify-between">

  <nav id="nav" class=" border-gray-200 px-4 lg:px-6 py-3">

    <!-- Enlances del menu -->
      <div class="flex flex-wrap justify-between items-center">

        <a href="#" class="flex ml-1">Jugar Online</a>
        <a href="#" class="flex">Mi Banco</a>
        <a href="#" class="flex">Torneos</a>
        <a href="#" class="flex">Subasta</a>
        <a href="#" class="flex">Mi Cuenta</a>

      </div>



  </nav>

  <div id="logoNexusBattle" class="absolute -top-20 lg:-top-10 left-1/2 2xl:left-[47%] lg:left-[50.5%]">
    <img src="../../../../assets/images/logoNexus.png" class="" alt="Nexus Battle II Logo"/>
  </div>

  <nav id="nav" >

    <div class="flex flex-wrap items-center">

      <!-- Barra Navegacion -->
      <form action="#" method="GET" class="hidden lg:block ">
        <!-- Conteneder de busqueda -->

            <div class="relative xl:w-96 md:w-36">
              <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <!-- Icono Busqueda -->
                <svg class="w-5 h-5" fill="white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
              </div>
              <input type="text" id="topbar-search" class="border border-separate text-white sm:text-lg block w-full pl-10 p-2.5
              border-white placeholder-white focus:outline-none focus:border-[#] focus:ring-1" placeholder="Search">
            </div>

      </form>

      <div class="">
        <!-- Icono Carrito -->
          <button type="button" data-dropdown-toggle="notification-dropdown" id="carrito-boton" class="flex flex-wrap items-center py-2.5 pr-3.5 pl-5">
            <mat-icon class="icono-carrito" aria-hidden="false" aria-label="Carrito Compras" svgIcon="carrito" style="width: 30px; height: 30px">Carrito</mat-icon>
            <p class="text-white px-2.5">Carrito</p>
          </button>
      </div>

    </div>

    </nav>

</header>



