<div class="padre">
    <div class="tabla">
        <table>
            <thead>
                <tr>
                    <th>Carta</th>
                    <th>Descripcion</th>
                    <th>Cantidad</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>imagen</td>
                    <td>desc</td>
                    <td>1</td>
                    <td>100000</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="pagar">
        hola
    </div>
</div>