
<main id="contenedor-vitrina" class="relative bg-center">
<div class="caja">
  <div class="categorias">
  <h3>Categorias</h3>
  <ul>
    <li><a href="personajes">personajes</a></li>
    <li><a href="items">items</a></li>
    <li><a href="armas">armas</a></li>
    <li><a href="armaduras">armaduras</a></li>
  </ul>
  
  <hr>
  <h3>Precio</h3>
  
  <hr>
  <h3>Tipo de carta</h3>
  <hr>
  <h3>Promocion</h3>
  </div>
<div class="padre">
  <div class="contenedor">
    <div *ngFor="let carta of cartas" id="bordeCarta" class="carta2" [class]="getCardBackgroundClass(carta.id_carta)" data-tilt data-tilt-max="15" data-tilt-speed="400" data-tilt-perspective="1000">
      <!-- Bordeado Exotico Carta -->
      <!-- Imagen Superior -->
        <img src="https://okdiario.com/img/2017/01/04/caballeros-edad-media-curiosidades-655x368.jpg" alt="">
        <p class="titulo">{{ carta.nombre_carta }}</p>
        <p>Poder: {{ carta.poder }}</p>
        <p>Vida: {{ carta.vida }}</p>
        <p>Defensa: {{ carta.defensa }}</p>
        <p>Ataque: {{ carta.ataqueBase }}</p>
        <p>Dano: {{ carta.danoMax }}</p>
        <hr>
          <button class="deseo">Lista de deseo</button>
          <button (click)="addToCart(carta.id_carta,carta.price,carta.nombre_carta)" class="carrito">Añadir al carrito</button>
    </div>
  </div>
</div>
</div>
<br>
<!-- Paginacion -->
<div class="pagination flex justify-between w-6 h-6 p-6" id="pagination">
  <button class="bg- border-2 border-solid btnpaginacion" *ngFor="let pageNumber of totalPagesArray" [class.active]="pageNumber === currentPage" (click)="changePageTo(pageNumber)">
    {{ pageNumber }}
  </button>
</div>
</main>

