
<main id="contenedor-vitrina" class="relative bg-center">

<div class="caja md:mx-12 2xl:items-stretch md:sm:sms:items-start">

  <div class="categorias my-12 md:sm:sms:my-2">

    <h3>Categorias</h3>
    <ul>
      <div class="flex items-center">
        <mat-icon class="-mr-2" aria-hidden="false" aria-label="..." svgIcon="personaje" style="width: 23px; height: 23px;"></mat-icon>
        <li><a href="personajes">Personajes</a></li>
      </div>
      <div class="flex items-center">
        <mat-icon class="-mr-2" aria-hidden="false" aria-label="..." svgIcon="items" style="width: 23px; height: 23px;"></mat-icon>
        <li><a href="items">Items</a></li>
      </div>
      <div class="flex items-center">
        <mat-icon class="-mr-2" aria-hidden="false" aria-label="..." svgIcon="sword" style="width: 23px; height: 23px;"></mat-icon>
        <li><a href="armas">Armas</a></li>
      </div>
      <div class="flex items-center">
        <mat-icon class="-mr-2" aria-hidden="false" aria-label="..." svgIcon="armor" style="width: 23px; height: 23px;"></mat-icon>
        <li><a href="armaduras">Armaduras</a></li>
      </div>
      <div class="flex items-center">
        <mat-icon class="-mr-2" aria-hidden="false" aria-label="..." svgIcon="descuento" style="width: 23px; height: 23px;"></mat-icon>
        <li><a href="descuento">Descuento</a></li>
      </div>
    </ul>

    <hr class="my-2">

    <!-- <h3>Tipo de carta</h3>

      <h4>Guerrero</h4>
      <ul class="ml-4">
        <div class="flex items-center">
          <mat-icon class="-mr-2" aria-hidden="false" aria-label="..." svgIcon="tanque" style="width: 23px; height: 23px;"></mat-icon>
          <li><a href="Gtanque">Tanque</a></li>
        </div>
        <div class="flex items-center">
          <mat-icon class="-mr-2" aria-hidden="false" aria-label="..." svgIcon="axe" style="width: 23px; height: 23px;"></mat-icon>
          <li><a href="Garmas">Armas</a></li>
        </div>
      </ul>

      <h4>Mago</h4>
      <ul class="ml-4">

        <div class="flex items-center">
          <mat-icon class="-mr-2" aria-hidden="false" aria-label="..." svgIcon="magofuego" style="width: 23px; height: 23px;"></mat-icon>
          <li><a href="Mfuego">Fuego</a></li>
        </div>

        <div class="flex items-center">
          <mat-icon class="-mr-2" aria-hidden="false" aria-label="..." svgIcon="magohielo" style="width: 23px; height: 23px;"></mat-icon>
          <li><a href="Mhielo">Hielo</a></li>
        </div>

      </ul>

      <h4>Pícaro</h4>
      <ul class="ml-4">

        <div class="flex items-center">
          <mat-icon class="-mr-2" aria-hidden="false" aria-label="..." svgIcon="picaroveneno" style="width: 23px; height: 23px;"></mat-icon>
          <li><a href="Pveneno">Veneno</a></li>
        </div>

        <div class="flex items-center">
          <mat-icon class="-mr-2" aria-hidden="false" aria-label="..." svgIcon="picaromachete" style="width: 23px; height: 23px;"></mat-icon>
          <li><a href="Pmachete">Machete</a></li>
        </div>
      </ul> -->

  </div>


  <div class="padre my-12 md:sm:sms:my-2 flex-col items-center space-y-4">

    <div class="contenedor 2xl:w-[1360px] 2xl:h-max md:w-[1000px] md:h-max ">



      <div *ngFor="let carta of cartas" id="bordeCarta" style="background:rgba(17,18,18,1); color:white; border:1px solid rgba(255,244,0,1);" id="bordeCarta" class="carta2 2xl:w-[250px] 2xl:h-[395px] md:w-[200px] md:h-[295px] hover:2xl:h-[430px] hover:md:h-[320px]" data-tilt data-tilt-max="10" data-tilt-speed="400" data-tilt-perspective="1000">
        <!-- Bordeado Exotico Carta -->
        <!-- Imagen Superior -->
        <div class="titulo">
          <p class="2xl:text-[18px] md:text-[14px] truncate ">{{ carta.nombre }}</p>
        </div>
        <div class="img">
          <a [routerLink]="['/carta', carta._id]">
            <img src="https://cards.thenexusbattles2.cloud/assets/{{ carta.imagen }}" alt="" class="2xl:h-[225px] 2xl:w-[175px] md:sm:h-[150px] md:sm:w-[125px]">
          <div class="overlay"></div>
          </a>
          <!-- Indicador del Descuento -->
          <!-- <mat-icon class="absolute top-[1.5%] right-[12.5%]" id="Indicador_Desc" aria-hidden="false" aria-label="Indicador Descuento" svgIcon="indicador_disc">Indicador Descuento</mat-icon> -->
        </div>

        <div class="contenido 2xl:w-[220px] 2xl:h-[50px] md:sm:w-[165px] md:sm:h-[42px] 2xl:text-[16px] md:text-[11px] space-y-[2px]">
          <div class="grid grid-cols-2 grid-flow-row gap-[2px]">
            <p >${{ carta.precio }}</p>
            <p *ngIf="carta.coleccion === 'Heroes'">Poder: {{ carta.poder }}</p>
            <p *ngIf="carta.coleccion === 'Heroes'">Vida: {{ carta.vida }}</p>
            <p *ngIf="carta.coleccion === 'Heroes'">Defensa: {{ carta.defensa }}</p>
            <p *ngIf="carta.coleccion === 'Heroes'">Ataque: {{ carta.ataqueBase }}</p>
            <p *ngIf="carta.coleccion === 'Heroes'">Dano: {{ carta.dano }}</p>
            <p *ngIf="carta.nombre === 'Armadura Pesada'">Tipo: Pesada</p>
            <p *ngIf="carta.nombre === 'Armadura Mediana'">Tipo: Media</p>
            <p *ngIf="carta.nombre === 'Armadura de Tela'">Tipo: Tela</p>
            <p *ngIf="carta.nombre === 'Armadura Media Liviana'">Tipo: Media liviana</p>
          </div>
          <div class="flex justify-between space-x-4 space-y-[2px]">
            <p *ngIf="carta.coleccion === 'Armaduras'">{{ carta.descripcion }}</p>
            <p *ngIf="carta.coleccion === 'Armas'">{{ carta.descripcion }}</p>
            <p *ngIf="carta.coleccion === 'Items'">{{ carta.descripcion }}</p>
          </div>


        </div>
            <button class="deseo">
              <mat-icon class="" aria-hidden="false" aria-label="Carrito Compras" svgIcon="favorito">Deseos </mat-icon>
            </button>
            <button class="carrito" (click)="addToCart(carta._id,carta.precio,carta.nombre)">
              <mat-icon class="" aria-hidden="false" aria-label="Carrito Compras" svgIcon="añadir_carrito">Carrito </mat-icon>
            </button>
      </div>


    </div>
        <!-- Paginacion -->
    <div *ngIf="totalPages <= 5; else pagination" class="pagination flex justify-between w-6 h-6 p-6 mt-20" id="pagination">
      <button class="bg- border-2 border-solid btnpaginacion" *ngFor="let pageNumber of totalPagesArray" [class.active]="pageNumber === currentPage" (click)="changePageTo(pageNumber)">
        {{ pageNumber }}
      </button>
    </div>
  </div>

</div>
<br>
<br>


<ng-template #pagination>

  <div class="pagination flex items-center justify-between w-6 h-6 p-6" id="pagination">
    <button (click)="changePageTo(currentPage - 1)" class="btn_izq flex items-center">
      <mat-icon class="" aria-hidden="false" aria-label="Flecha Izquierda" svgIcon="flecha_izquierda">Flecha_Izquierda</mat-icon>
    </button>

    <button class="bg border-2 border-solid btnpaginacion" *ngFor="let pageNumber of totalPagesArray" [class.active]="pageNumber === currentPage" (click)="changePageTo(pageNumber)">
      {{ pageNumber }}
    </button>

    <button (click)="changePageTo(currentPage + 1)" class="btn_der flex items-center">
      <mat-icon class="" aria-hidden="false" aria-label="Flecha Derecha" svgIcon="flecha_derecha">Flecha_Derecha</mat-icon>
    </button>
  </div>



</ng-template>

</main>

