#contenedor-vitrina {
  background-image: url('../../../../assets/images/fondo-inicio.jpg');
  height: 91vh;
}

.caja{
  display: flex;
  justify-content: center;
}

.padre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.contenedor{
  z-index: 2;
  background: #CCBEA3;
  width: 1360px;
  height: 768px;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.carta2{
  margin: 5px;
  width: 250px;
  height: 350px;
  transform: perspective(1000px);
  transform-style: preserve-3d;
  padding: 15px;
  border-radius: 10px;
}

.carta2 img{
  height: 150px;
}

.carta2 .botones button{
  transform: translateZ(50px);
}

.carta2 .titulo{
  transform: translateZ(20px);
  font-size: 20px;
  font-weight: bold;
}

.carta2 hr{
  transform: translateZ(20px);
  width: 200px;
}

.carta2 img{
  transform: translateZ(50px);
}

.carta2 p{
  transform: translateZ(20px);
}

[data-tilt] button{
  transform: translateZ(20px);
  width: 50px;
  height: 35px;
  font-size: 10px;
  text-align: start;
  margin: 5px;
  padding: 2px;
  color: white;
  border-radius: 10px;
}

.carta2 .deseo:hover{
  background: rgb(53, 182, 53);
}

.carta2 .carrito:hover{
  background: rgb(150, 5, 5);
}


.deseo{
  background: rgb(95, 240, 95);
}

.carrito{
  background: red;
}

.pagination a {
  cursor: pointer;
}

#pagination {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  bottom: 25px;
  z-index: 30;
}

.btnpaginacion {
  color: black;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #cccccc5d;
  text-decoration: none;
  margin: 10px;
}

.btnpaginacion:hover {
  background-color: #ccc;
}

.btnpaginacion.active {
  background-color: #fff;
  color: black;
}

/*categorias*/
.categorias{
  margin: 30px;
  padding: 20px;
  background:#CCBEA3;
  border-radius: 30px;
  margin-right: 50px;
}

.categorias h3{
  font-size: 30px;
  font-weight: bold;
}

.categorias ul li{
  margin: 10px;
  padding: 5px;
  font-size: 18px;
  list-style: square;
}

.categorias ul li a:hover{
  color: whitesmoke;
}


/*colores de las cartas*/
.color-1{
  background: rgb(124, 243, 243);
}

.color-2{
  background: #aca9ab;
}

.color-3{
  background-image: url('https://img.freepik.com/fotos-premium/fondo-piel-dragon-rojo-oscuro_536047-297.jpg');
  color: white;
}

.color-4{
  background: #8b8c7a;
}

.color-5{
  background: #bfddea;
}

.color-6{
  background: linear-gradient(to bottom, #ffffd5, #f3f408, #f7ae5b, #ff0000);
}

.color-7{
  background-image: url('https://p4.wallpaperbetter.com/wallpaper/465/723/641/triangle-triangle-illuminati-masons-wallpaper-preview.jpg');
  background-position:center;
  color: yellow;
}