
#contenedor-vitrina {
  background-image: url('../../../../assets/images/fondo-inicio.jpg');
}

.pagination a {
  cursor: pointer;
}

#pagination {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  bottom: 25px;
  z-index: 30;
}

button {
  color: black;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #cccccc5d;
  text-decoration: none;
}

button:hover {
  background-color: #ccc;
}

button.active {
  background-color: #fff;
  color: black;
}
