
#contenedor-vitrina {
  background-image: url('../../../assets/images/fondo-inicio.jpg');
  height: calc(101.3vh - 100px);
}

.contenedor{
  z-index: 1;
  background: #ccbea3c4;
  border-radius: 30px;
  justify-items: center;
}
.contenedor-compra{
  z-index: 2;
  background: #ffffff;
  border-radius: 30px;
  justify-items: center;
}




